<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131158786033-j4tan8kqk28s19bn15bq2ab9go6vfac7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131158786033-j4tan8kqk28s19bn15bq2ab9go6vfac7</string>
	<key>API_KEY</key>
	<string>AIzaSyDvv60Gy-3z9642FqlcKFoLjFxgqf94axo</string>
	<key>GCM_SENDER_ID</key>
	<string>131158786033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.snapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-74d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-74d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131158786033:ios:c10f2ed3f6999719a04e50</string>
</dict>
</plist>